.notes-update-button {
    background-color: white;
    border: none;
    margin-top: 5px;
}

.notes-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px
}

.notes-last-updated {
    margin-top: 5px;
}

.notes-update-icon {
    color: green;
}